* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main {
    margin: 10px auto 0 auto;
    max-width: 900px;
}
.quiz-container {
    border: 1px dashed gray;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.timer {
    color: rgb(71, 12, 126);
    padding: 20px;
}

.scores {
    position: absolute;
    color:rgb(71, 12, 126);
    top: 10px;
    right: 20px;
}

button {
    color: white;
    background-color: grey;
    text-align: center;
    border-radius: 10px;
    max-width: 250px;
    padding: 15px;
    margin: auto;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.large-font {
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

.small-font {
    font-size: 1.25em;
    text-align: center;
}


#quizQuestion {
    font-size: 1em;
    padding-top: 50px;
    scroll-padding-bottom: 10px;
    display: block;
}
.answer {
    font-size: 90%;
    margin-top: 20px;
    padding-top: 10px;
    color: rgb(16, 16, 73);
    border-top: 2px dashed blue;
}
.choices button{
    display: inline-block;
    color: rgb(45, 45, 45);
    padding: 20px;
    display: flex;
    background:rgb(223, 197, 247);
    border: 1px solid purple;
    border-radius: 3px;
    padding: 8px;
    margin: 3px;
    justify-content: space-between;

}

button:hover {
    color:rgb(247, 245, 249);
    background-color: indigo;

}

.hide {
    display: none;
}

